header {
  text-align: center;
  background-color: grey;
}

h1 {
  color: red;
}

h2 {
  color: deeppink;
}

h3 {
  color: orange;
}

img {
  box-shadow: 10px 10px 5px gray;
}

section {
  background-color: rgb(168, 22, 22);
}

p1 {
  font-size: 16px;
  width: 100
}


ul {
  border-style: solid;
}
